@charset "utf8";
*{
	margin: 0;
	padding: 0;
}
body{
	background: #7a8b8b;
	font-family: "Lucida Console", Arial;
	font-size: 0.9em;
}
form{
	padding: 2px;
}
h2{
	color: #2591fa;
}
h3{
	color: #8b0a50;
}
h3:first-line{
	font-size: 2em;
	color: #8b0a50;
	text-transform: uppercase;
}
a,a:link,a:visited{
	color: #0075e7;
	outline: none;
}
fieldset{
	margin: 30px;
	border: solid 1px #EEE;
	margin-bottom: 18px;
	padding: 5px 15px;
}
fieldset legend{
	padding: 0;
	margin-left: 0;
	color: #2591fa;
}
input{
	width: 350px;
	height: 20px;
}
#content{
	width: 80%;
	height: 100% auto;
	margin-left: 3%;
	margin-top: 15px;
	border: 2px solid #00CED1;
	background: #b0e2ff;
}
.header{
	border: 2px solid #00ced1;
	background: #00ced1;
}
.steep{
	border: 2px solid #00ced1;
	text-align: right;
	font-weight: bold;
	color: #bba050;
}
.content{
	text-align: left;
	padding-bottom: 35px;
}
.text form textarea{
	border:  0.5px solid #00ced1;
}
.text{
	background: #fff;
	padding-bottom: 5px; 
}
.text p input{
	border: 1px solid #00ced1;
}
.header h2{
	color: #551a8b;
}
.header h2:first-letter{
	color: #00ee00;
}
.button{
	background: #b0e2ff;
	border: 2px solid #eee;
	height: 38px;
	width: 125px;
	margin: 50px 0 0 50px;
	display: block;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
	font-weight: bold;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-image: -webkit-liner-gradient (top, rgba(0,0,0,0), rgba(0,0,0,0.2)); 
	background-image: -moz-liner-gradient (top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -o-liner-gradient (top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -ms-liner-gradient (top, rgba(0,0,0,0), rgba(0,0,0,0.2)); 
	background-image: liner-gradient (top, rgba(0,0,0,0), rgba(0,0,0,0.2)); 
	-webkit-box-shadow: 0px 3px 1px rgba(0,0,0,0.2); 
	-moz-box-shadow: 0px 3px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 1px rgba(0,0,0,0.2);
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}
.button:hover{
	background: #00e2ff;
}